#us {
    background-color: hsl(179, 52%, 53%);
    border-radius: 0 0 5px 0;
}

#subscription {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 5px;
}

#community {
    grid-column: span 2;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0.5rem 0;
}

h1 {
    color: hsl(179, 62%, 43%);
    margin-top: 0.3rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 0.3rem;
}
body {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(204, 43%, 93%);
    color: hsl(204, 43%, 93%); 
}

main {
max-width: 665px;
width: 85%;
background-color: white;
display: grid;
grid-template: 45% 55% / 50% 50%;
border-radius: 5px;
}

section {
    padding: 40px;
}

#dollar {
    font-size: 2rem; 
    font-weight: bold; 
    position: relative;
    top: 0.3rem;
    display: inline-block;
    margin-top: 0.1rem;
    margin-right: 0.5rem;
}

button {
    border: none;
    position: relative;
    top: 1.3rem;
    padding: 16px 92px;
    color: hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    background-color: hsl(71, 73%, 49%);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0.09rem 0.6rem 1rem hsl(179, 62%, 36%);
    border-radius: 5px;
}

button:hover {
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0.2rem 0.7rem 1rem hsl(179, 62%, 38%);
}

#us p {
    color: hsl(204, 43%, 93%, 0.7);
    font-size: 0.9rem;
    line-height: 1.3rem;
}

@media only screen and (max-width: 767px){
    #subscription {
        grid-column: span 2;
        border-radius: 0;
    }
    #us {
        grid-column: span 2;
        border-radius: 0 0 5px 5px;
    }
    main {
        grid-template-rows: 36% 32% 32%;
        margin: 5rem 3rem;
        border-radius: 5px 5px 0 0;
    }
    .attribution {
        position: relative;
        bottom: 5rem;
    }
    section {
        padding: 6%;
    }
}